#how-works{
    .container{
        padding-bottom: 26px;
    }

    .how-works-header{
        padding: 72px 0px;
        h3{
            text-align: center;
            font-size: 44px;
        }
    }

    .orange{
        color: #FA4A0C;
    }
}